.logo{
    max-width: 100px;

 }
 .header{
    background:#808080d5;
    margin-bottom:20px;
    text-align:center;
    background-image:url();
    background-size:cover;
    color:white;
    padding:20px;
    background-position: 0px-200px;

}
.header_area{
    padding:10px;

}
.footer1{
    background-image:url(imagens/turing.jpg);
    background-size:cover;
    color:white;
    padding:20px;
    background-position:0px;
    text-align:center;
}   
.h2{padding:20px;}
.p{padding: 20px;margin:20px;text-align: justify;text-indent: 50px;}


.block{
    height: 500px;
    width: 500px;
}
.footer1{
    background-image:url(imagens/turing.jpg);
    background-size:cover;
    color:white;
    padding:20px;
    background-position:0px;
    text-align:center;
}
